body {
    background-image: url('background.jpg');
    background-image: linear-gradient(rgba(137, 140, 153, 0.7), rgba(4, 9, 30, 0.7)), url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    max-width: 100px; 
    width: 100%;
    margin: auto;
    padding: 100px;
    text-align: center;
    align-items: center;
    
}

.form-label {
    max-width: 700px;
}

h2, label {
    color: white; 
}
/* Custom button styles */
.custom-blue-btn {
    background-color: #007bff; /* Custom blue color */
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth effects */
}

.custom-blue-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}

.custom-blue-btn:active {
    background-color: #003f7f; /* Even darker blue when clicked */
    transform: scale(1); /* Reset scale */
}